[{:db/id #db/id[:db.part/db]
  :db/ident :longtext/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc "Built-in ?LongText class."
  :pace/identifies-class "LongText"  
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :longtext/text
  :db/cardinality :db.cardinality/one
  :db/valueType :db.type/string
  :db/fulltext true
  :db/doc
  "The text associated with this object.A full-text index will be built."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :dna/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc "Built-in ?DNA class."
  :pace/identifies-class "DNA"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :dna/sequence
  :db/cardinality :db.cardinality/one
  :db/valueType :db.type/string
  :db/doc "The sequence of this DNA."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :peptide/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc "Built-in ?Peptide type."
  :pace/identifies-class "Peptide"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :peptide/sequence
  :db/cardinality :db.cardinality/one
  :db/valueType :db.type/string
  :db/doc "The sequence of this protein/peptide."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :keyword/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc "Built-in ?Keyword type."
  :pace/identifies-class "Keyword"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/ident :importer/temp
  :db/doc
  "Identifier used as scaffolding by the timestamp-aware importer. Should generally be excised after import is complete."
  :db.install/_attribute :db.part/db}
 {:db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/ident :importer/ts-name
  :db/doc "Username from a legacy timestamp."
  :db/id #db/id[:db.part/db]
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :ordered/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :pace/identifies-class "Ordered"
  :pace/is-hash true
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :ordered/index
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Index in an ordered collection."
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :position-matrix/background
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :position-matrix/values
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many
  :pace/use-ns #{"ordered"}
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :position-matrix.value/a
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :position-matrix.value/c
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :position-matrix.value/g
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :position-matrix.value/t
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}]
