[{:db/id #db/id[:db.part/user]
  :pace.xref/attribute :multi-counts.gene/gene,
  :pace.xref/obj-ref :multi-pt-data/id}
 {:db/id #db/id[:db.part/user]
  :pace.xref/attribute :multi-counts.allele/variation,
  :pace.xref/obj-ref :multi-pt-data/id}
 {:db/id #db/id[:db.part/user]
  :pace.xref/attribute :multi-counts.locus/locus,
  :pace.xref/obj-ref :multi-pt-data/id}
 {:db/id #db/id[:db.part/user]
  :pace.xref/attribute :multi-counts.transgene/transgene,
  :pace.xref/obj-ref :multi-pt-data/id}
 {:db/id #db/id[:db.part/user]
  :pace.xref/attribute :multi-counts.rearrangement/rearrangement,
  :pace.xref/obj-ref :multi-pt-data/id}
 {:db/id #db/id[:db.part/user]
  :pace.xref/attribute :mass-spec-data/protein,
  :pace.xref/obj-ref :mass-spec-peptide/id}
 {:db/id #db/id[:db.part/user]
  :pace.xref/attribute :interactor-info/transgene,
  :pace.xref/obj-ref :interaction/id}
 {:db/id #db/id[:db.part/user]
  :pace.xref/attribute :interactor-info/construct,
  :pace.xref/obj-ref :interaction/id}
 {:db/id #db/id[:db.part/user]
  :pace.xref/attribute :interactor-info/antibody,
  :pace.xref/obj-ref :interaction/id}]

